* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 2.5vh 5vw;
  margin: auto;
  background-color: #e5e7eb;
}

header {
  height: 60px;
  padding: 20px 20vw;
}

h1 {
  color: #374151;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "Lora", serif;

}

.column {
  display: inline-block;
  margin: 40px;
  max-width: 360px;
}

p {
  font-size: 1.15em;
  line-height: 150%;
  font-weight: 300;
}

section {
  max-width: 900px;
  margin: auto;
}
